.row.row-header
  %h1
    .pull-left
      Listing articles
    .pull-right
      = link_to raw('New Article <span class=" glyphicon glyphicon-plus-sign"></span>'), new_article_path, :class => 'btn btn-success'

.row.row-header
  = render 'articles/search_form', search: @search

= bootstrap_flash

#articles
  - @articles.each do |article|
    = render article
